# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user data
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/
*.resolved

# Scripts (tooling, not part of the app)
add_files_to_xcode.rb
